body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 155, 145);
  background: linear-gradient(
    180deg,
    rgba(255, 155, 145, 1) 0%,
    rgba(254, 110, 140, 1) 46%,
    rgba(255, 69, 136, 1) 100%
  );
}
.koya {
  width: 400px;
  height: 430px;
  position: relative;
}
.face {
  width: 180px;
  height: 150px;
  background-color: #8ed9f6;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  border-radius: 60% 60% 50% 50%;
  border: 6px solid #000;
  z-index: 9;
}
.ear-1 {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: #8ed9f6;
  top: 65px;
  left: 65px;
  border-radius: 50%;
  border: 6px solid #000;
  transform: rotate(-5deg);
}
.ear-2 {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: #8ed9f6;
  top: 65px;
  right: 65px;
  border-radius: 50%;
  border: 6px solid #000;
  transform: rotate(5deg);
}
.inner-ear {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.l-eye {
  position: absolute;
  width: 22px;
  height: 6px;
  background-color: #000;
  top: 92px;
  left: 42px;
  border-radius: 6px;
  transform: rotate(-10deg);
}
.r-eye {
  position: absolute;
  width: 22px;
  height: 6px;
  background-color: #000;
  top: 92px;
  right: 42px;
  border-radius: 6px;
  transform: rotate(10deg);
}
.nose {
  position: absolute;
  width: 30px;
  height: 38px;
  background-color: #725faa;
  border: 6px solid #000;
  left: 50%;
  top: 68px;
  transform: translateX(-50%);
  border-radius: 50%;
}
.mouth {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 6px solid #000;
  border-radius: 50%;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
  top: 86px;
  left: 50%;
}
.legs {
  width: 100px;
  height: 120px;
  position: absolute;
  left: 145px;
  top: 220px;
}
.legs::before {
  content: "";
  position: absolute;
  width: 62%;
  height: 70%;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
  left: 53%;
  top: -20px;
  transform: translateX(-50%);
  box-shadow: 0 0 0 9px #8ed9f6;
}
.l-leg {
  width: 45%;
  height: 100%;
  position: absolute;
  background-color: #8ed9f6;
  border-radius: 220px;
  border: 6px solid #000;
  top: -30px;
  left: 3px;
  transform: rotate(5deg);
}
.l-leg::before {
  content: "";
  position: absolute;
  border-left: 10px solid #8ed9f6;
  border-right: 10px solid #8ed9f6;
  border-top: 10px solid #8ed9f6;
  border-bottom: 10px solid transparent;
  top: 39px;
  z-index: 5;
  left: -13px;
  border-radius: 50%;
}
.r-leg {
  width: 45%;
  height: 100%;
  position: absolute;
  background-color: #8ed9f6;
  border-radius: 220px;
  right: -5px;
  border: 6px solid #000;
  top: -30px;
  transform: rotate(-5deg);
}
.r-leg::before {
  content: "";
  position: absolute;
  border-left: 10px solid #8ed9f6;
  border-right: 10px solid #8ed9f6;
  border-top: 10px solid #8ed9f6;
  border-bottom: 10px solid transparent;
  top: 39px;
  z-index: 5;
  right: -13px;
  border-radius: 50%;
}
.l-arm {
  position: absolute;
  width: 70px;
  height: 30px;
  background-color: #8ed9f6;
  top: 204px;
  left: 82px;
  border: 6px solid #000;
  border-radius: 46%;
  transform: rotate(36deg);
  transform-origin: bottom;
  overflow: hidden;
}
.r-arm {
  position: absolute;
  width: 70px;
  height: 30px;
  background-color: #8ed9f6;
  top: 230px;
  right: 98px;
  border: 6px solid #000;
  border-radius: 46%;
  transform: rotate(42deg);
  transform-origin: top;
  overflow: hidden;
}
